<footer id="footer">
  <div class="wrapper">
    <p>
        <a href="https://botkit.ai">Powered by Botkit</a> |
        <a href="https://github.com/jankcat">More Useless Code</a> |
        <a href="https://github.com/jankcat/mocking-bot-discord">Discord Version</a>
    </p>
  </div>
</footer>
